.information-header {
    padding-top: 41px;
    padding-bottom: 32px;
    &__wrapper {
        .center;
    }
    &__text {
        margin: 0;
        padding: 0 5%;
        font-family: @font-family;
        font-size: @font-size--big;
        line-height: @font-size--big + .6;
        font-weight: @weight-normal;
        color: @text-color;
        text-align: center;
        &:first-child {
            margin-bottom: 27px;
        }
    }
}