.information-inner {
    background: @backgoround-color--grey;
    &__wrapper {
        padding-top: 85px;
        .center;
        background-image: url("@{dirsvg}/triangle-white.svg");
        background-size: 100% 35px;
        background-repeat: no-repeat;
        background-position: center 0;
    }
}