.intro-header {
  &__title {
    //.debug;
    margin: 0;
    margin-bottom: 315px;
    padding: 0 10%;
    font-family: @font-family;
    font-size: @font-size--big - .2;
    font-weight: @weight-normal;
    line-height: @font-size--big + .8;
    text-align: center;
    color: @text-color--white;
  }
} 