.clearfix() {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.container() {
    margin: 0 auto;
    @media @screen-md {
        widht: 700px;
        margin: 0 auto;
    }
    @media @screen-lg {
        width: 1200px;
        margin: 0 auto;
    }
}

.big-headers-text-style () {
    font-size: @font-size--big;
    font-weight: @weight-light;
    text-align: center;
}

.headers-text-style () {
    font-size: @font-size--regular;
    font-weight: @weight-semi-bold;
    text-align: center;
}

.p-text-style () {
    font-size: @font-size--small;
    font-weight: @weight-normal;
    text-align: left;
}

.a-decoration() {
    text-decoration: none;
}

.pseudo-absolute-elem() {
    position: absolute;
    display: block;
    content: "";
}

.border-style (@b-size: 2px, @b-type: solid, @b-color: #e5e5e5) {
    border: @arguments;
}
.center() { //test
  //max-width: 320px;
  //margin: 0 auto;
}
.debug() {
  outline: 1px solid #f0f;
}